* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px 40px;
    
    
    
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
    
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}




.main {
    display: flex;
    background-color: #1F2937;
    padding: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 100px;

    
    
    
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    

}

main p {
    font-size: 18px;
    color: #e5e7eb;
}

.text {
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;
    margin-top: 5px;
    width: 150px;
}

img {
    display: flex; 
    
}